body {

    margin: 0px;
    
}
 

nav {

    grid-column-start:1 ;
    grid-column-end:4 ;
    grid-row-start: 2;
    grid-row-end:3 ;

}

header {

    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;

}

footer {

    grid-column-start: 1;
    grid-column-end:4;
    grid-row-start: 4;
    grid-row-end: 5;

}

.left {

    grid-column-start: 1;
    grid-column-end:2 ;
    grid-row-start:3 ;
    grid-row-end: 4;

}

.right {

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

.container {

    width: 1200px;
    margin: auto;
    text-align: center;
    font-size: large;
    display: grid;
    grid-template-columns: 250px 700px 250px;
    grid-template-rows: 75px 75px auto 75px;
    gap: 10px;

}

.content {

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

}


header, nav, aside, .content, footer{

    background-color: lightgray;

}


nav span {

    text-align: center;
    display: block;
    color: black;
    margin-left: 30px;
    padding: 14px 75px;


}


ul {

    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;

}