body {

    margin: 0;
    font-family: 'Roboto', sans-serif;
    

}

header {

    margin: 0  ;
    background-color: #0071bd;
    height: 100px;

}

.uppercontainer {

    display: grid;
    margin: auto;
    align-items: center;
    max-width: 1200px;
    grid-template-columns: auto max-content;

}

.uppercontainer1 {

    display: flex;

}

.u{

    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px; 
    background-color: #81b8df;
    color: white;
}


.upper2{

    width: 50px;
    height: 60px;
    justify-self: end;
    margin-left: 20px;
    
}

h1 {

    color: white;
    justify-self: start;
    font-size: 40px;
    
}

#menu{

    list-style: none;
    
}

#menu li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px;
}


.boxcontainer {

    margin: auto;
    max-width: 1200px;
    display: grid;
    grid-template-rows: 215px 215px 215px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;

}

.boxyellow {

    width: 210px;
    height: 215px;
    background-color: #fbb03b;
    font-size: 15px;
    text-align: center;
    color: white;
    grid-row-start: 1;
    grid-row-end: 2;
  
}

.by1{

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;

}

.by2 {

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 3;
    grid-column-end: 6;

}

.by3 {

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 6;
    grid-column-end: 9;

}

.by4 {

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 9;
    grid-column-end: 12;


}

.boxorange {

    height: 215px;
    width: 290px;
    background-color: #f15a25;
    text-align: center;
    font-size: 15px;
    color: white;
   
}

.bo1{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 5;

}

.bo2{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 4;
    grid-column-end: 8;

}

.bo3{

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 8;
    grid-column-end: 12;

}

.boxred {

    height: 215px;
    width: 445px;
    background-color: #c2272d;
    text-align: center;
    font-size: 15px;
    color: white;
    
}

.br1 {

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 8;

}

.br2 {

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 6;
    grid-column-end: 12;

}


aside {

    background-color: #01a89e;
    text-align: center;
    color: white;
    font-size: 15px;
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 12;
    grid-column-end: 16;

}


footer {

    display: flex;
    align-items: center;
    background-color: #662e91;
    height: 180px;

}

.lowercontainer {

    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr ;
    gap:20px;
    align-items: center;
    margin: auto;
    max-width: 1200px;


}


.box1purple {

    width: 390px;
    height: 125px;
    background-color: #b296c7;
    color:white;
    font-size: 15px;
    text-align: center;

}



