body {

    margin: auto;
    font-family: 'Roboto', sans-serif;
    color: black; 
    
}

.utilitybar {

    width: 100%;
    font-size: 15px;
    height: 30px;
    display: flex;
    background-color: #5472d2;
    align-content: stretch;
    align-items: center;
    font-size: 12px;
    
 }

.utilitybar ul {

    color: white;
    display: flex;
    gap: 30px;
    list-style-type: none;
    margin-left: 100px;

}

.idesign-logo {

    height: 55px;

}

h1, h2 {

    color: #5476d5

}

.nav-container{

    border-bottom: 1px solid #96a9e3;

}

.nav-container ul {

    list-style-type: none;
    display: flex;
    align-items: center;
  
}

.nav-container li {

    margin-left: 90px;

}

.vc_row {

    display: grid;
    grid-template-columns: 1fr 1.5fr;
    border-bottom: 1px solid #96a9e3;
    width: 80%;
    margin:auto;

}

.wpb_wrapper h2 {

    align-items: center;

}

ul {

    list-style-type: square;

}

.titlebar {

    margin-left: 110px;

}

.iheader {

    border-bottom: 1px solid #96a9e3;

}

.vc_general {

    color: white;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    height: 60px;
    border-radius: 4px;
    width: 200px;
    background-color:  #7487d4;

}

.vc_column-inner {

    align-content: center;


}

.sub-menu li, .trans {

    display: none;

}


.vc_row {

    font-size: 20px;

}