body {

    text-align: center;

}

.den {

    background-color: #98bcec;
    color: white;

}

.long-hr {

    border: 1px solid #98bcec; 
    width: 100%;
 
}

table,th,td {

    margin: auto;
    padding: 8px;
    border: 2px solid #98bcec;
    border-collapse: collapse;

}
